@media screen and (max-width: 767px) {
  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }

  /* img {
    pointer-events: none;
  } */

  body {
    min-width: initial;
  }

  a {
    text-decoration: none;
    color: #000000;
  }

  ul,
  li {
    list-style: none;
    margin: 0;
  }

  .inner {
    width: 100%;
    margin: 0 auto 50px;
    margin-top: 50px;
    zoom: 1;
    position: relative;
  }

  .logo img{
    display: block;
    text-align: left;
    width: 140px;
    margin-right: 10px;
  }

  .logo a {
    width: 320px;
  }

  .box{
    display: block;
    position: absolute;
    margin: 0px auto;
    margin-bottom: 50px;
    left: 40%;
    top: 0px;
    right: 10%;
    width: 50px;
    height: 50px;
    z-index: 1;
  }

  .container-2{
    width: 150px;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
  }

  .container-2 input#search{
    width: 35px;
    height: 35px;
    background: #ffb599;
    border: none;
    font-size: 10pt;
    float: left;
    color: #262626;
    padding-left: 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #fff;

    -webkit-transition: width .55s ease;
    -moz-transition: width .55s ease;
    -ms-transition: width .55s ease;
    -o-transition: width .55s ease;
    transition: width .55s ease;
  }

  .container-2 input#search::-webkit-input-placeholder {
     color: #000000;
  }

  .container-2 input#search:-moz-placeholder { /* Firefox 18- */
     color: #000000;
  }

  .container-2 input#search::-moz-placeholder {  /* Firefox 19+ */
     color: #000000;
  }

  .container-2 input#search:-ms-input-placeholder {
     color: #000000;
  }

  .container-2 .icon{
    position: absolute;
    top: 50%;
    margin-left: 1px;
    margin-top: 10px;
    z-index: 1;
    color: #fc7a57;
  }

  .container-2 input#search:focus, .container-2 input#search:active{
    outline:none;
    width: 125px;
  }

  .container-2:hover input#search{
  width: 125px;
  }

  .container-2:hover .icon{
    color: #fc7a57;
  }

  .primary {
    background-color: white;
    padding: 0;
  }

  .wrap {
    display: none;
    -webkit-box-shadow: 0 0 70px #fff;
    -moz-box-shadow: 0 0 70px #fff;
    box-shadow: 0 0 70px #fff;
    margin-left: 345px;
  }

  .bx-wrapper {
    display: block;
    text-align: center;
    margin-top: 0px;
    margin: 0 auto;
    width: 100%;
    height: 120px;
  }
  .bx-wrapper img {
    max-width: 100%;
    height: 110px;
    display: block;
}

.bx-wrapper .bx-prev {
    display: none;
}
.bx-wrapper .bx-next {
    display: none;
}

  .h1k {
    display: inline-block;
    font-size: 150%;
    font-weight: bold;
    width: 100%;
    text-align: left;
    padding-bottom: 5px;
    padding-left: 15px;
    margin-bottom: 16px;
    border-left: 5px solid #000;
    border-bottom: 1px solid #000;
  }

  .wrapper {
    min-height: 100%;
    margin-bottom: -100px;
  }
  .footer,
  .push {
    background-color: #fff;
    clear:both;
    text-align:center;
    height: 75px;
  }

  .logo1 {
    pointer-events: none;
  }

  .under {
    overflow: hidden;
    margin: 0 auto;
    margin-top: 50px;
  }

  .copy {
    padding-top: 30px;
    font-size: 14px;
    color: #000;
    /* padding-top: 40px; */
  }
