@media screen and (max-width: 767px) {
  body {
    font-size: 13px;
    line-height: 1.7;
  }

  .pc {
    display: none;
  }

  .sp {
    display: block;
  }

  header {
    height:60px;
    position: fixed;
    left: 0;
    top:0;
    width:100%;
  }

  .bx-wrapper {
    display: none;
  }

  .h1k{
    margin-top: 500px;
  }

  .wrap {
  display: none;
  }
